<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="assets/images/favicon (2).ico">
    <title>Doctors-blog</title>
    <base href="/">
    <link rel="stylesheet" type="text/css" href="assets/css/blog.css">
    <link rel="stylesheet" type="text/css" href="assets/css/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,600&family=Roboto:wght@500&display=swap" rel="stylesheet">

    <div class="container-fluid">
        <div class="row blog1">
            <div class="col-lg-3 col-md-6">
                <img class="rajamouli1" src="https://i.zoomtventertainment.com/story/pjimage_-_2020-08-24T132133.302.jpg?tr=w-600,h-450,fo-auto " alt="dr.rajamouli">
            </div>
            <div class="col-lg-9 col-md-6">
                <h3>Dr rajamouli</h3>
                <p>I am Board Certified Dermatologist Dr. Cynthia Bailey and I am based in Sebastopol, CA (Northern California wine country). Over the last 30+ years, I have personally:
                    <ul>
                        <li>Helped over 15,000 patients overcome the frustration and embarrassment caused by rosacea, acne, melasma, sun damage - even dry skin and wrinkles.</li>
                        <li>I've done well over 150,000 skin exams during my dermatology career too!</li>
                        <li>Starting in 2009 I began sharing my skin care advice with a worldwide audience so that I can help you, too.</li>
                    </ul>
                </p>
            </div>
        </div>
        <div class="row blog2">
            <div class="col-lg-3 col-md-6">
               <img class="rajamouli1" src="https://i.pinimg.com/736x/e8/84/5e/e8845e54b89ae2582943ac68b13b7e9d--blue-cartoon-character-cartoon-characters.jpg" alt="cinthiya-image">
            </div>
            <div class="col-lg-9 col-md-6">
            <h3>
              Dr cinthiya
            </h3>
            <p>After working in public relations for a few years and developing a passion for real food and wellness, I went back to school to become a Registered Dietitian in 2008. I attended Winthrop University where I completed 2 years of coursework and a six-month dietetic internship. Shortly after passing the RD exam I moved to Charlottesville, Virginia.
               
                <ul>
                    <li>Helped over 10,000 patients overcome the frustration and embarrassment caused by obesity,over-weight,lean body</li>
                    <li>i have done my studies in one of the worlds greatest University</li>
                    <br>
                </ul>
            </p>
            </div>
        </div>
        <div class="row blog3">
            <div class="col-lg-3 col-md-6">
            <img class="rajamouli2" src="https://www.tollywood.net/wp-content/uploads/2019/10/Where-is-Manchu-Manoj-heading.jpg" alt="">
            </div>
            <div class="col-lg-9 col-md-6">
            <h3>
              Dr Manoj
            </h3>
            <p> Govt. service since 1982-24 years • Worked in District Hospital from April 1995 • Worked as Incharge Dept.Pediatrics since 1997 • Worked as R.M.O for 2 years, District Hospital Durg.
               
                <ul>
                    <li>my qualifications - MBBS,D.C.H,P.G.D.H.H.M(IGNOU)</li>
                    <li> President IMA Durg 2006 • President IAP State Branch 2007</li>
                    <br>
                </ul>
            </p>
            </div>
        </div>
        <div class="row blog2">
            <div class="col-lg-3 col-md-6">
               <img class="rajamouli1" src="https://i.pinimg.com/736x/e8/84/5e/e8845e54b89ae2582943ac68b13b7e9d--blue-cartoon-character-cartoon-characters.jpg" alt="cinthiya-image">
            </div>
            <div class="col-lg-9 col-md-6">
            <h3>
              Dr mahati
            </h3>
            <p>After working for Ngo's and social service foundations, I went back to school to become a Registered Dietitian in 2008. I attended Winthrop University where I completed 2 years of coursework and a six-month dietetic internship. Shortly after passing the RD exam I moved to Charlottesville, Virginia.
               
                <ul>
                    <li>Helped over 15,000 patients overcome the frustration and embarrassment caused by obesity,over-weight,lean body</li>
                    <li>my qualifications - MBBS,D.C.H,P.G.D.H.H.M(IGNOU)</li>
                    <li>I even give free tips to people on live t.v shows in order to educate them in this subject</li>
                </ul>
            </p>
        </div>
    </div>
    <br>
    <div class="button1">
        <br>
        <a href="/index"> <button type="button" class="btn btn-dark btn-lg ">Home-page</button></a>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    